<p>Tp1: Developpement et deploiement d'une application Angular sur heroku</p>
<h1>Naruto SHIPPUDDEN</h1>
<table>
  <tr>
    <th>image</th>
    <th>name</th>
    <th>caracteristique</th>
  </tr>
  <tr>
    <td><img src="./../assets/naruto.jpg" width="100px" /></td>
    <td>Naruto UZUMAKI</td>
    <td>Kyubi</td>
  </tr>
</table>

<h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1>

<div *ngIf="!(authService.user | async)">
  <input type="text" [(ngModel)]="email" placeholder="email">
  <input type="password" [(ngModel)]="password" placeholder="email">

  <button (click)="signup()" [disabled]="!email || !password">
    Signup
  </button>

  <button (click)="login()" [disabled]="!email || !password">
    Login
  </button>
</div>

<button (click)="logout()" *ngIf="authService.user | async">
  Logout
</button>